@import "tailwindcss";

/* @theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
} */

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e2e8f0; /* gray-200 */
    border-radius: 20px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #cbd5e1; /* gray-300 */
  }

  /* Thin Scrollbar for smaller areas */
  .thin-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #f1f5f9;
  }
  
  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #e2e8f0;
  }
}

/* Global Focus Ring Reset */
*:focus {
  outline: none;
}

/* Input Autofill Background Fix */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}