@import "tailwindcss";

/* @theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
} */

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
